body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}

.board h2 {
  padding: 30px 50px;
  border-radius: 8px;
  background-color: rgb(235, 238, 255);
  cursor: pointer;
  color: black;
}

.list-bg {
  background-color: rgb(235, 238, 255);
  padding: 10px;
  min-height: 100vh;
  height: 100%;
}

.list-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(244, 244, 244) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
}

.button-home {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.button-home button {
  padding: 20px 30px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(244, 244, 244) 0px 2px 4px 0px;
  font-size: 20px;
}

.p-20 {
  padding: 20px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
}
