body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}

.board h2 {
  padding: 30px 50px;
  border-radius: 8px;
  background-color: aquamarine;
  cursor: pointer;
  color: black;
}

.list-bg {
  background-color: rgb(249, 250, 255);
  padding: 10px;
}

.list-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(244, 244, 244) 0px 2px 4px 0px;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
}
